body {
  background-color: red;
  clear: both;
  font-family: fantasy;
  margin-bottom: 100px;
  margin: 0;
  min-height: 400px;
  text-align: center;
}

.nav-list {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.card {
  border: 2px solid #333;
  border-radius: 10px;
  width: 400px;
}

img {
  height: 100px;
}

footer {
  width: 100%;
  color: white;
  background-color: #333;
  padding: 20px;
  left: 0;
  bottom: 0;
}
